/*-- scss:defaults --*/

$body-bg: #1e0e0e;
$body-color: #f2d4d3;

$navbar-bg: #5a302f; 
$navbar-fg: #ffffff;
$navbar-hl: #f7f2ef;

/*-- scss:rules --*/

.navbar {
  box-shadow: 0 2px 10px rgba(0,0,0,.7);
}